@charset "UTF-8";
/*VARIABLES*/
/* Variables */
/*GLOBALES*/
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
/* Normalize */
*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
ul {
  list-style-type: none; }

body {
  background-image: linear-gradient(to right bottom, #ffffff, #ececec, #d9d9d9, #c7c7c7, #b5b5b5) !important; }

/* Helpers - esto sirve para usar a lo largo del proyecto*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

/*PARTIALS*/
/* Header & Navbar */
.navbar-light {
  background-color: white !important; }

.bannersection {
  margin-top: 4.5rem !important; }

/*footer*/
footer {
  grid-column: 1 / 5;
  grid-row: 3;
  text-align: center;
  color: #fff;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center a;
    align-items-text-decoration: none; }

.btn-redes {
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: #fff;
  background-color: #212529; }

.btn-redes:hover {
  background-color: #1c1f23; }

/*VIEWS*/
/*Sección principal*/
#banner {
  width: 100%; }

.container {
  width: 100% !important; }

.bannersection {
  gap: 2rem;
  align-items: center;
  padding: 0 2em;
  grid-column: 1 / 5;
  grid-row: 1; }

.presentation {
  gap: 2rem;
  align-items: center;
  padding: 0 2em;
  grid-column: 1 / 5;
  grid-row: 2; }

.socios {
  gap: 15rem;
  align-items: center;
  padding: 2em 2em;
  grid-column: 1 / 5;
  grid-row: 2; }
  .socios_columnOne {
    flex-basis: 50%;
    color: #fff; }
  .socios_columnTwo {
    flex-basis: 50%;
    color: #fff; }

.presentation__picture {
  flex-basis: 50%;
  min-width: 320px; }

.presentation__img {
  width: 100%;
  padding: 1.5em 0; }

.presentation__description {
  flex-basis: 50%;
  color: #fff; }

.socio_text {
  padding: 2em 0; }

@media screen and (max-width: 668px) {
  .presentation {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .6em; }
    .presentation__picture {
      flex-grow: 1; }
      .presentation__picture .presentation__img {
        max-height: 600px;
        max-width: 350px; }
    .presentation__description {
      flex-grow: 1;
      order: -1;
      display: flex;
      flex-direction: column; }
  .equipo__picture, .equipo__img {
    flex-grow: 1; }
  .equipo__img {
    max-height: 600px;
    max-width: 350px;
    padding-top: 0.5em; }
  .socios {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    gap: 1em; }
    .socios_columnOne {
      flex-grow: 1; }
    .socios_columnTwo {
      flex-grow: 1;
      order: -1;
      display: flex;
      flex-direction: column; } }

.sp-xlarge {
  padding: 5rem; }

.sp-large {
  padding: 3rem; }

.sp-medium {
  padding: 2rem; }

.sp-small {
  padding: 1.5rem; }

.sp-xsmall {
  padding: 1rem; }

#logo_mail {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  display: block;
  right: 10px;
  bottom: 5px; }

#logocontacto {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  display: block;
  right: 10px;
  bottom: 50px; }

.page-section {
  padding: 7rem 0 2rem 0; }

.text-center {
  text-align: center !important; }

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.mt-0 {
  margin-top: 0 !important; }

.team-member {
  margin-bottom: 3rem;
  text-align: center; }

.team-member img {
  width: 10rem !important;
  height: 10rem !important;
  border: 0.5rem solid rgba(0, 0, 0, 0.1); }

.team-member h4, .team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0; }

.text-lg-start {
  color: black !important; }

.footer {
  margin-bottom: 1.5rem; }

.alinear_centro {
  justify-items: center !important; }

.section_one {
  padding-bottom: 2rem; }

.section_two {
  padding-bottom: 2rem; }

.page-section {
  color: none; }

.card {
  margin-bottom: 2rem; }

.alinear_centro {
  margin: auto !important; }

.link {
  color: black !important;
  text-decoration: none;
  font-weight: bold; }

.full {
  width: 100% !important; }
