/*footer*/

footer {
    background-color: rgba(105, 105, 105, 0.37);
    grid-column: 1 / 5;
    grid-row: 3;
    text-align: center;
    color: $secondary; 
    height: 10vh;

    a {
        text-decoration: none; 
    }
}